/** Variables **/

$montserrat: 'Montserrat', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$roboto-mono: 'Roboto Mono', monospace;
$dark-color: #212529;
$gray-color: #6c757d;
$light-color: #f8f9fa;
$yellow-color: #fed110;
$light-yellow: #f5ce33;
$white-color: #fff;